.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: contain;
}

.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form input:hover,
.form textarea:hover {
  border: 1px solid var(--primaryBtn);
}

.form input:focus,
.form textarea:focus {
  border: 1px solid var(--secondaryBtn);
}
.form button {
  padding: 20px;
  background-color: var(--primaryBtn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background: var(--secondaryBtn);
  transition: background 0.5 ease-in-out;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
